@media(max-width:500px){
    .header-page h1{
        font-size: 10px;
    }
    .header-page{
        gap: 2px;
        padding: 10px 0px;
    }
    .header-page h1{
        font-size: 10%;
    }
}

@media(max-width:1120px){
    .btnS{
        padding: 14px 10px; 
    }
    .nav-page ul{
        gap: 15px;
        padding: 14px 0px; 
    }
}
@media(max-width:950px){
    .nav-page{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        gap: 10px;
         
    }
}
@media(max-width:800px){
    .menu{
        display: block;
        
    }
    .nav-page ul{
        display: none;
      
    }
}

@media(max-width:420px){
    .nav-page{
        width: 100%;
        margin-top: 20px;
    }
}
@media(max-width:320px){
    .btnS{
        padding: 10px 5px; 
    }
    
} 


@media(max-width:1394px){
    .cart-page{
        text-align: center;
        justify-content: center;
    }
    .cart-page img{ 
        padding: 1% 1.5%;
        gap: 20px;
    }
}

 @media(max-width:900px){
    .cart-page{
        text-align: center;
        justify-content: center;
    }
    .cart-page img{ 
        padding: 20px 1.5px;
        gap: 20px;
    }
}
@media(max-width:750px){
    .nones{
        display: none;
    }
}

@media(max-width:900px){
    .paket {
        display: block;
    }
    .lorem-page {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    
@media (max-width: 768px) {
    .full-page {
        grid-template-columns: 1fr; 
    }
    .fulls{
        grid-template-columns: 1fr;
    }
}
}

@media (max-width: 572px) {
    h1,h2,h3,h4,h5{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
}